body {
    display: flex;

}

.text {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-weight: 900;
    font-size: 48px;
    letter-spacing: .5px;
    font-family: 'Roboto', sans-serif;
}

.sidebar {
    display: inline-block;
}

.nouveaute {
    margin-top: 100px;
}

.para {
    font-family: 'Roboto', sans-serif;
    width: 50%;
    margin: 130px;
    font-weight: 100;
    color: rgb(94, 93, 93);
    letter-spacing: .25px;
    line-height: 27px;
    font-size: 18px;
    color: #465a69;
}